[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
[init]
	defaultBranch = main
[user]
	email = git@jonathantrujillo.com
	name = Jonathan Trujillo
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.gitconfig.local
