[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
[init]
	defaultBranch = main
[user]
	email = git@jonathantrujillo.com
	name = Jonathan Trujillo
[include]
	path = ~/.gitconfig.local
