[user]
	name = Jonathan Trujillo
	email = git@jonathantrujillo.com
[init]
	defaultBranch = main
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	force = force-with-lease
[fetch]
	prune = true
[merge]
	conflictstyle = zdiff3
[credential]
	helper = osxkeychain
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.gitconfig.local
